$blue: #2E3F65;
$white: #FFFFFF;
$grey_light:#E9E9E9;
$grey_dark:#444444;
$acent_color:#D85140;

$xs: 430px;
$sm: 768px;
$md: 1024px;
$mdd: 1240px;
$lg: 1440px;


.container {
    padding: 0 60px;
    max-width: 100%;
}


//MAIN STYLES//

.header {
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $white;
    border-radius: 0px 0px 16px 16px;

    .header-left {
        display: flex;
        align-items: center;
        gap: 150px;

        .header-location {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 16px;
            line-height: 19px;
            color: $blue;
            font-weight: 400;

                a {
                    font-family: 'Inter', sans-serif;
                    transition: all;
                    transition-duration: 300ms;

                    &:hover {
                        transition: all;
                        transition-duration: 300ms;
                        color: $acent_color;
                    }
                }
        }
    }
    .header-right {
        display: flex;
        align-items: center;
        gap: 24px;

            .header-mobile {
                display: flex;
                flex-direction: column;
                text-align: right;
                font-size: 24px;
                line-height: 36px;
                color: $blue;
                
                    a {
                        transition: all;
                        transition-duration: 300ms;
                        &:hover {
                            transition: all;
                            transition-duration: 300ms;
                            color: $acent_color;
                        }
                    }

                    p {
                        font-weight: 500;
                        line-height: 15px;
                        font-size: 12px;
                    }
            }
        .header-button {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: $blue;
            padding: 15px 30px;
            border: 1px solid #333E57;
            border-radius: 10px;
            transition: all;
            transition-duration: 300ms;

                &:hover {
                    transition: all;
                    transition-duration: 300ms;
                    border: 1px solid $acent_color;
                    color: $acent_color;
                }
        }
    }
}

.main-page {
    display: flex;
    justify-content: space-between;

        .main-page-left {
            flex: 50%;
            background: $blue;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0px 80px;

                .main-page-list {
                    display: flex;
                    gap: 24px;

                        .page-list_item {
                            display: flex;
                            align-items: center;

                                a {
                                    font-weight: 400;
                                    font-size: 15px;
                                    line-height: 18px;
                                    letter-spacing: -0.04em;
                                    color: #FAFAFA;
                                    font-family: 'Inter', sans-serif;
                                    position: relative;
                                    text-decoration: none;

                                        &::before {
                                            content: '';
                                            position: absolute;
                                            left: 0; bottom: -5px;
                                            width: 0;
                                            height: 1.5px;
                                            background-color: $acent_color;
                                            transition: width 0.35s;
                                        }
                                        &:hover::before {
                                            width: 100%;
                                        }
                                }
                        }
                }
            .page-left-title {
                display: flex;
                flex-direction: column;
                gap: 20px;

                    h1 {
                        font-size: 56px;
                        line-height: 62px;
                        color: #FAFAFA;
                        font-weight: 400;
                        letter-spacing: -0.03em;
                        max-width: 660px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 22px;
                        font-family: 'Inter', sans-serif;
                        color: #FAFAFA;
                        max-width: 560px;
                    }
                    .left-btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                        background: $acent_color;
                        padding: 15px 30px;
                        border-radius: 10px;
                        transition: all;
                        transition-duration: 300ms;
                        max-width: 550px;
                        margin-top: 20px;
                    }
            }

            .left-bottom {
                display: flex;
                gap: 60px;

                    .left-bottom_item {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        max-width: 168px;

                            span {
                                font-weight: 400;
                                font-size: 32px;
                                line-height: 45px;
                                color: $white;
                            }

                            p {
                                color: rgba(250, 250, 250, 0.6);
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                                font-family: 'Inter', sans-serif;
                            }
                    }
            }
        }
        .main-page-right {
            flex: 50%;
        }
}

.about {
    margin-top: 120px;

        .about-main {
            display: flex;

                .about-left {
                    flex: 50%;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;

                        .about-left_title {
                            font-weight: 400;
                            font-size: 48px;
                            line-height: 53px;
                            color: $blue;
                        }
                        .about-left_text {
                            margin-top: 20px;
                            display: flex;
                            flex-direction: column;
                            gap: 25px;
                            max-width: 410px;

                                p {
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 22px;
                                    font-family: 'Inter', sans-serif;
                                    color: $blue;
                                }
                        }
                        .about-left_grid {
                            display: grid;
                            grid-template-columns: repeat(2, minmax(0, 1fr));
                            grid-template-rows: repeat(2, minmax(0, 1fr));
                            row-gap: 28px;

                                .left-grid_item {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 8px;

                                    span {
                                        color: $acent_color;
                                        font-size: 48px;
                                        line-height: 53px;
                                        letter-spacing: -0.03em;
                                        font-weight: 400;
                                    }
                                    p {
                                        font-size: 16px;
                                        color: $blue;
                                        line-height: 22px;
                                        font-family: 'Inter', sans-serif;
                                        max-width: 230px;
                                    }
                                }
                        }
                }
                .about-right {
                    flex: 50%;
                }
        }
}

.our-projects {
    margin-top: 120px;

        h2 {
            font-size: 48px;
            line-height: 53px;
            letter-spacing: -0.03em;
            color: $blue;
        }
    .our-projects_main {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        .our-projects-item {
            display: flex;

                .our-porject-swiper {
                    flex: 50%;
                    border-radius: 8px 0px 0px 8px;
                }
                .our-projects_left {
                    flex: 50%;
                    padding: 41px 89px 41px 40px;
                    background: $blue;
                    border-radius: 0px 8px 8px 0px;
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    justify-content: space-between;

                        h3 {
                            font-weight: 500;
                            font-size: 24px;
                            line-height: 31px;
                            color: #FAFAFA;
                            font-weight: 500;
                        }
                        p {
                            font-weight: 500;
                            font-size: 24px;
                            line-height: 31px;
                            color: #FAFAFA;
                            font-weight: 500;
                        }
                    .projects-left_descr {
                        font-family: 'Inter', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        color: #FAFAFA;
                        max-width: 530px;
                    }

                    .projects-left_flex {
                        display: flex;
                        .projects-left_grid {
                            display: grid;
                            grid-template-columns: repeat(2, minmax(0, 1fr));
                            grid-template-rows: repeat(2, minmax(0, 1fr));
                            margin-top: 20px;
                            row-gap: 15px;
                            column-gap: 30px;
    
                            .projects-gird_item {
                                display: flex;
                                gap: 4px;
                                align-items: center;
                                
                                    p {
                                        font-size: 16px;
                                        line-height: 22px;
                                        font-family: 'Inter', sans-serif;
                                        font-weight: 400;
                                        color: #FAFAFA;
                                    }
                            }
                        }
                    }
                    
                    .projects-btns {
                        display: flex;
                        gap: 12px;

                            .projects-btn_pdf {
                                padding: 15px 28px;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 24px;
                                letter-spacing: 0.02em;
                                color: $blue;
                                background: $white;
                                transition: all;
                                transition-duration: 300ms;
                                border-radius: 10px;

                                    &:hover {
                                        color: $white;
                                        background: $acent_color;
                                        transition: all;
                                        transition-duration: 300ms;
                                    }
                            }
                        .projects-btn_consult {
                            padding: 15px 60px;
                            letter-spacing: 0.02em;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            color: $white;
                            background: $acent_color;
                            transition: all;
                            transition-duration: 300ms;
                            border-radius: 10px;

                                &:hover {
                                    color: $acent_color;
                                    background: $white;
                                    transition: all;
                                    transition-duration: 300ms;
                                }
                        }
                    }
                }
        }
    }
}